VITE_API_URL=https://your-backend-url.com/api/v1
VITE_SOCKET_URL=https://your-backend-url.com
VITE_APP_NAME=TRACT
VITE_APP_ENV=production
VITE_PLACEHOLDER_PROPERTY_IMAGE=
VITE_PLACEHOLDER_AVATAR_IMAGE=
